.flag-modal.modal.hide.fade{:id => "#{@flag.resource_type}-#{@flag.resource_id}"}
  .modal-header
    %a.close{:data => {:dismiss => 'modal'}}
      %icon.icon-remove-sign
    %h4 New flag
  .modal-body
    =form_for(@flagging, :remote => true) do |form|
      =hidden_field_tag :resource_type, @flag.resource_type
      =hidden_field_tag :resource_id, @flag.resource_id
      =form.text_area :description
      -if false #current_user
      -if current_user
        =form.hidden_field :user_id, :value => current_user.id
      -else
        =form.text_field :email
      =form.submit 'Report content', :class => 'btn'
