-content_for(:head) do
  :coffeescript
    $ ->
      $('.flag-table tr').click (event) ->
        window.location = $(this).data('url')

-if @flags.empty?
  %p.mt-2
    There are no unresolved items
    ="with this tag" if @category
    at the moment.
-else
  %table.table.table-hover.flag-table.mt-2
    %tbody
      -@flags.each do |flag|
        %tr{:data => {:url => flag_path(flag)}}
          %td.span2
            %strong=flag.resource
          %td.span9
            %i=truncate(flag.resource_text, :length => 300)
            %br
            -flag.categories.each do |category|
              %span.label.mv-1{:style => "background-color: #{category.color};"}
                =category
          %td.span1.right
            %i.icon-flag
            =flag.flaggings.count