.row-fluid
  .span12
    %h1=title('Moderation')
.row-fluid
  -if FlaggingCategory.all.present?
    .span3
      =render('flagging_categories/list')
    .span9
      -if current_page?(flags_path)
        %h4 &nbsp;
      -else
        =link_to("&larr; Back to all flags".html_safe, flags_path)
      =render('table')
  -else
    .span12
      =render('table')
    
.row-fluid
  .span12
    =options_panel do
      =link_to('Edit categories', flagging_categories_path)