.row-fluid
  .span12
    %h1=title('Moderation')
.row-fluid
  -if FlaggingCategory.all.present?
    .span3
      =render('flagging_categories/list')
    .span9
      =link_to("&larr; Back to all flags".html_safe, flags_path)
      =render('flags/details')
  -else
    .span12
      =render('flags/details')
    
.row-fluid
  .span12
    =options_panel do
      =link_to('Edit categories', flagging_categories_path)
      =flag_link(Post.last)